---
import { AcercaDeIcon } from '@/icons/acerca-de'
---

<section
	id="acerca-de"
	class="rounded-2xl bg-white px-5 py-8 dark:bg-night-black md:p-8 lg:p-10 2xl:p-12"
>
	<div
		class="inline-flex items-center gap-2 rounded-full border border-platinum px-4 py-2 text-xs tracking-wide text-black dark:border-grey-black-200 dark:text-white lg:px-5"
	>
		<AcercaDeIcon className="text-theme-color" />
		ABOUT ME
	</div>
	<div class="mt-7 md:mt-10">
		<h2
			class="text-[32px] font-extralight leading-[1.27] text-black dark:text-white md:text-4xl lg:text-5xl"
		>
			About <span class="font-semibold text-theme-color">Me</span>
		</h2>
		<p class="mt-4 max-w-2xl md:mt-6">
			Hola, me llamo <span class="text-black dark:text-white">Marrón Reddick</span> y empecé a usar WordPress
			cuando empecé. He pasado la mayor parte de mis horas de vigilia durante los últimos diez años diseñando,
			programando y operando <span class="text-black dark:text-white"> WordPress</span> sitios van más
			allá con exclusivos de diseño.
		</p>
	</div>
	<div class="mt-6">
		<!-- <div class="mb-5 inline-flex flex-wrap items-center gap-2 text-sm md:gap-4">
			<a
				href="#"
				class="dark:border-greyBlack md: hover:text-theme inline-block rounded-3xl border border-dashed border-platinum px-3.5 py-2 text-black transition duration-300 dark:text-white/70 dark:hover:text-white md:px-5 md:py-2"
			>
				HTML5 &amp; CSS3 (94%)
			</a>
			<a
				href="#"
				class="dark:border-greyBlack md: hover:text-theme inline-block rounded-3xl border border-dashed border-platinum px-3.5 py-2 text-black transition duration-300 dark:text-white/70 dark:hover:text-white md:px-5 md:py-2"
			>
				Bootstrap (98%)
			</a>
			<a
				href="#"
				class="dark:border-greyBlack md: hover:text-theme inline-block rounded-3xl border border-dashed border-platinum px-3.5 py-2 text-black transition duration-300 dark:text-white/70 dark:hover:text-white md:px-5 md:py-2"
			>
				TailwindCSS (90%)
			</a>
		</div> -->
		<!-- Contador de proyectos -->
		<ul class="mb-10 mt-4 grid gap-x-8 gap-y-3 text-sm md:grid-cols-2 lg:mt-6" id="counters">
			<li class="flex items-center">
				<span class="flex-[0_0_7rem] sm:flex-[0_0_10rem]">Teléfono</span>
				<span class="flex-[0_0_2rem]">:</span>
				<span class="break-all text-black dark:text-white">+(2) 870 174 302 </span>
			</li>
			<li class="flex items-center">
				<span class="flex-[0_0_7rem] sm:flex-[0_0_10rem]">Correo electrónico</span>
				<span class="flex-[0_0_2rem]">:</span>
				<span class="break-all text-black dark:text-white">info@example.com</span>
			</li>

			<li class="flex items-center">
				<span class="flex-[0_0_7rem] sm:flex-[0_0_10rem]">Github</span>
				<span class="flex-[0_0_2rem]">:</span>
				<span class="break-all text-black dark:text-white">github.com/user</span>
			</li>
			<li class="flex items-center">
				<span class="flex-[0_0_7rem] sm:flex-[0_0_10rem]">Idioma</span>
				<span class="flex-[0_0_2rem]">:</span>
				<span class="break-all text-black dark:text-white">English, Dutch, Spanish</span>
			</li>
		</ul>

		<ul class="grid grid-cols-2 gap-6 md:grid-cols-4 xl:gap-8">
			<li class="">
				<div class="mb-1 text-2xl font-semibold text-theme-color md:text-3xl 2xl:text-4xl">
					<span class="num" data-val="180">000</span>+
				</div>
				<div class="text-sm">Años de experiencia</div>
			</li>
			<li class="">
				<div class="mb-1 text-2xl font-semibold text-theme-color md:text-3xl 2xl:text-4xl">
					<span class="num" data-val="12">00</span>+
				</div>
				<div class="text-sm">Proyectos gestionados</div>
			</li>
			<li class="">
				<div class="mb-1 text-2xl font-semibold text-theme-color md:text-3xl 2xl:text-4xl">
					<span class="num" data-val="5">0</span>+
				</div>
				<div class="text-sm">Bibliotecas de código abierto</div>
			</li>
			<li class="">
				<div class="mb-1 text-2xl font-semibold text-theme-color md:text-3xl 2xl:text-4xl">
					<span class="num" data-val="18">00</span>
				</div>
				<div class="text-sm">Premios obtenidos</div>
			</li>
		</ul>
	</div>
</section>

<script>
	import { setupObserver } from '@/utils/setupObserver'

	function animateCounters() {
		let valuesDisplays = document.querySelectorAll('.num')
		let interval = 1500

		valuesDisplays.forEach((valueDisplay) => {
			let startValue = 0
			let endValue = parseInt(valueDisplay.getAttribute('data-val') || '0')
			let duration = Math.floor(interval / endValue)

			let counter = setInterval(() => {
				startValue += 1
				valueDisplay.textContent = startValue.toString()
				if (startValue === endValue) {
					clearInterval(counter)
				}
			}, duration)
		})
	}
	document.addEventListener('DOMContentLoaded', () => {
		setupObserver({ targetElementId: 'counters', action: animateCounters })
	})
</script>
