---
import { ChecksIcon } from '@/icons/checks'
import { HomeIcon } from '@/icons/home'
import { PaperPlanIcon } from '@/icons/paper-plan'

---

<style>
	.slider {
		overflow: hidden;
		white-space: nowrap;
		position: relative;
		width: 100%;
	}

	.slides {
		display: flex;
		gap: 30px;
		animation: slideAnimation 10s linear infinite;
	}

	.slide {
		width: 25%;
		flex-shrink: 0;
		transform: translate3d(0, 0, 0); /* Mejora el rendimiento de la animación */
		display: inline-block;
		white-space: normal;
		/* Aplica tus propios estilos aquí */
	}
  @media (min-width: 768px); {
		.slides {
		gap: 0;
	}

	}
	@keyframes slideAnimation {
		from {
			transform: translate3d(0, 0, 0);
		}
		to {
			transform: translate3d(-100%, 0, 0);
		}
	}
</style>
<section
	id="inicio"
	class="rounded-2xl bg-white px-5 py-8 dark:bg-night-black md:p-8 lg:p-10 2xl:p-12"
>
	<div
		class="inline-flex items-center gap-2 rounded-full border border-platinum px-4 py-2 text-xs tracking-wide text-black dark:border-grey-black-200 dark:text-white lg:px-5"
	>
		<HomeIcon className="text-theme-color" />
		PRESENTACIÓN
	</div>
	<div class="items-center gap-6 md:flex xl:gap-10">
		<div class="pt-7 max-lg:max-w-[30rem] lg:pt-8">
			<h1
				class="mb-4 text-[32px] font-semibold leading-[1.27] text-black dark:text-white lg:mb-5 lg:text-5xl xl:text-4xl 2xl:text-5xl"
			>
				Elaboro el <br />
				<span class="text-theme-color">Paisaje digital</span>
			</h1>
			<p>
				Soy un
				<span class="font-medium text-black dark:text-white/90">Desarrollador Frontend</span>
				en el fondo y, creo características que son las más adecuadas para el trabajo en cuestión.
			</p>
			<ul class="-mx-3 mt-4 flex items-center lg:mt-5">
				<li class="mx-3 flex items-center text-[0.94rem]">
					<ChecksIcon className='text-theme-color mr-2 text-[20px] flex-none'/>
					Disponible para trabajar
				</li>
				<li class="mx-3 flex items-center text-[0.94rem]">
					<ChecksIcon className='text-theme-color mr-2 text-[20px] flex-none'/>
					Trabajo a tiempo completo
				</li>
			</ul>
			<ul class="mt-7">
				<li>
					<a
						href="#contacto"
						class="btn-theme md:py-4.5 inline-flex items-center gap-2 rounded-full bg-theme-color px-7 py-4 text-[15px] font-medium leading-none text-white transition-all duration-300 hover:shadow-[0px_5px_10px_0px_rgba(0,188,145,0.30)] md:text-base lg:px-9"
					>
						<PaperPlanIcon/>
						CONTRATAME
					</a>
				</li>
			</ul>
		</div>
		<div class="flex-[0_0_20.3rem] max-md:hidden">
			<img src="assets/img/hero-img-1.png" class="dark:hidden" alt="Hero Image - Light Mode" />
			<img src="assets/img/hero-img-2.png" class="hidden dark:block" alt="Hero Image - Dark Mode" />
		</div>
	</div>
	<div class="mb-2 mt-14 xl:mb-0 xl:mt-20">
		<div class="grid-cols-12 items-center overflow-hidden md:grid">
			<div class="col-span-2 hidden md:inline-block">
				<h6
					class="border-l border-theme-color pl-4 text-sm font-medium text-black dark:text-white/80 md:max-w-[8rem]"
				>
				Empresas de confianza
				</h6>
			</div>
			<div class="logo-slider col-span-10">
				<div class="slider">
					<div class="slides">
						<div class="slide">
							<a href="#" class="flex-center transition duration-200">
								<img src="assets/img/partners/logo1.svg" alt="Partner Name" />
							</a>
						</div>
						<div class="slide">
							<a href="#" class="flex-center transition duration-200">
								<img src="assets/img/partners/logo2.svg" alt="Partner Name" />
							</a>
						</div>
						<div class="slide">
							<a href="#" class="flex-center transition duration-200">
								<img src="assets/img/partners/logo3.svg" alt="Partner Name" />
							</a>
						</div>
						<div class="slide">
							<a href="#" class="flex-center transition duration-200">
								<img src="assets/img/partners/logo4.svg" alt="Partner Name" />
							</a>
						</div>
						<div class="slide">
							<a href="#" class="flex-center transition duration-200">
								<img src="assets/img/partners/logo2.svg" alt="Partner Name" />
							</a>
						</div>
						<div class="slide">
							<a href="#" class="flex-center transition duration-200">
								<img src="assets/img/partners/logo4.svg" alt="Partner Name" />
							</a>
						</div>
						<div class="slide">
							<a href="#" class="flex-center transition duration-200">
								<img src="assets/img/partners/logo2.svg" alt="Partner Name" />
							</a>
						</div>
						<div class="slide">
							<a href="#" class="flex-center transition duration-200">
								<img src="assets/img/partners/logo4.svg" alt="Partner Name" />
							</a>
						</div>
						<div class="slide">
							<a href="#" class="flex-center transition duration-200">
								<img src="assets/img/partners/logo2.svg" alt="Partner Name" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
