---
import Layout from '@/layouts/Layout.astro'
import Hero from './sections/Hero.astro'
import AcercaDe from './sections/AcercaDe.astro'
import Servicios from './sections/Servicios.astro'
import Habilidades from './sections/Habilidades.astro'
import Curriculum from './sections/Curriculum.astro'
import Portafolio from './sections/Portafolio.astro'
import Contacto from './sections/Contacto.astro'
---

<Layout description="Descripción del portafolio" title="Titulo del portafolio">
	<main class="mt-[65px] min-w-0 space-y-6">
		<Hero />
		<AcercaDe />
		<Servicios />
		<Habilidades />
		<Curriculum />
		<Portafolio />
		<Contacto />
	</main>
</Layout>
